* {
  margin: 0;
  padding: 0;
  font-family: 'Verdana', Sans-Serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #558888;
  background-size: cover;
  min-height: 100vh;
}

.calculator {
  position: relative;
  display: grid;
}

.calculator .value {
  grid-column: span 4;
  height: 60px;
  width: 254px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
  color: #fff;
  background: #0c2835;
  place-items: center;
  margin: 2px;
  border-radius: 10px;
}

.calculator span:active {
  background: #74ff3b;
  color: 111;
}

.calculator span.clear {
  grid-column: span 2;
  width: 120px;
  background: #6700ff;
}

.calculator span.plus {
  grid-row: span 2;
  height: 120px;
}

.calculator span.equal {
  background: #bb50bc;
}